html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font: 17px 'Open Sans', verdana, arial;
    user-select: none;
    -webkit-user-select: none;
}

.app {
    display: flex;
    flex-flow: row nowrap;
    height: 100%;
    width: 100%;
}

.app .side,
.app .context,
.auth {
    display: flex;
    flex-flow: column nowrap;
    width: 300px;
    background: #414B56;
    color: white;
    padding: 10px;
}

.app .diagram {
    display: flex;
    flex-grow: 1;
}

.components {
    display: flex;
    flex-flow: row wrap;
    padding: 5px;
}

.components .node {
    width: 124px;
    text-align: center;
    padding: 5px;
    background: white;
    color: #414B56;
    margin: 5px;
    border-radius: 2px;
    border: 1px solid white;
    box-shadow: inset 0 0 2px rgb(71, 71, 71);
}

.components .node:hover {
    background: #414B56;
    color: white;
    cursor: pointer;
}

/** rows */

.row {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
}

.row span {
    display: flex;
    line-height: 35px;
    font-style: italic;
}

/** context alignments */

.node-context label {
    width: 100px;
}

.node-context .row button {
    margin-left: 67px;
}

.edge-context label {
    display: inline-block;
    min-width: 75px;
}

.edge-context button {
    display: inline-block;
    width: 100px;
    margin-top: 0;
    margin-bottom: 10px;
    margin-left: 75px;
}

.edge-context select {
    display: flex;
    width: 212px;
}

.components label {
    display: block;
    width: 100%;
    margin: 5px;
}