body, html {
    height: 100%;
    width: 100%;
    font: 18px arial, verdana;
    overflow: hidden;
    margin: 0;
    display: flex;
    flex-flow: row nowrap;
    background: rgb(250, 250, 250);
    font-size: 17px;
}

body, html, div, span, input, select, textarea,
button, h1, h2, h3, h4, h5, h6, canvas, a {
    font-family: 'Open Sans', 'FontAwesome', sans-serif;
    box-sizing: border-box;
    font-size: 17px;
}

h2 {
    font-weight: 200;
    font-size: 19px;
    color: rgb(255, 255, 255);
    padding: 0;
    margin: 0 0 10px;
}

button {
    height: 32px;
    border-radius: 2px;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.05);
    padding: 0 13px;
    font-weight: bold;
    background-color: rgb(255, 255, 255);
    color: #414B56;
    border: 1px solid rgb(255, 255, 255);
    margin-right: 10px;
}

button.primary {
    background: rgb(25, 125, 225) linear-gradient(rgb(27, 135, 227) 2%, rgb(22, 110, 213) 98%);
    color: rgb(255, 255, 255);
    border: none;
}

button.primary:hover {
    color: rgb(25, 125, 225);
    background: rgb(255, 255, 255);
    border: none;
}

button:hover {
    cursor: pointer;
    background-color: #414B56;
    color: rgb(255, 255, 255);
}

.app {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: row nowrap;
}

.main {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
    color: rgb(70, 70, 70);
}

/* selected element in a list */
.active {
    display: flex;
    flex-grow: 1;
    overflow: hidden;
    text-overflow: ellipsis;
    rgb(255, 255, 255);-space: nowrap;
    margin: 10px 0;
    padding: 0 3px;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 2px;
    font-weight: bold;
    background: rgb(255, 255, 255);
    box-shadow: inset rgba(0, 0, 0, 0.0470588) 0 2px 3px 0;
    color: rgb(70, 70, 70);
}

table {
    text-align: left;
    border-collapse: collapse;
}

table thead {
    position: relative;
    top: 0;
}

table td, table th {
    padding: 5px;
    color: rgb(111, 111, 111);
}

table th {
    color: rgb(125, 125, 125);
    background-image: linear-gradient(rgb(250, 250, 250) 2%, rgb(239, 239, 239) 98%);
}

table tr td:last-child, table tr th:last-child {
    text-align: center;
}

table td {
    font-size: 16px;
}

table tbody tr:hover {
    cursor: pointer;
}

table tbody tr:nth-child(even) {
    cursor: pointer;
    background: rgb(245, 245, 245);
}

table tbody tr.active td {
    color: rgb(255, 255, 255);
    -webkit-user-select: text;
    background: rgb(25, 125, 225) linear-gradient(rgb(27, 135, 227) 2%, rgb(22, 110, 213) 98%);
    cursor: default;
    vertical-align: middle;
    rgb(255, 255, 255);-space: nowrap;
}

.icon-input {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 2px;
    box-shadow: rgba(0, 0, 0, 0.0470588) 0 2px 3px 0;
    padding: 8px;
    margin-bottom: 10px;
    background: rgb(255, 255, 255);
}

.icon-input i {
    display: inline-block;
    width: 25px;
    opacity: 0.6;
    color: black;
}

.icon-input input {
    border: none;
    outline: none;
}

.dropdown {
    display: flex;
    flex-flow: row nowrap;
    border: 1px solid rgb(213, 213, 213);
    border-radius: 2px;
}

.dropdown .inner {
    display: flex;
    flex-grow: 1;
    flex-flow: row nowrap;
}

.dropdown .selected {
    display: flex;
    flex-grow: 1;
    background-color: rgb(255, 253, 250);
}

.dropdown .selected .fa {
    margin: 8px;
    font-size: 18px;
    line-height: 25px;
}

.dropdown .selected span {
    display: inline-block;
    padding: 2px;
    margin: 8px 8px 8px 0;
    font-size: 14px;
}

.dropdown .fa-arrow-circle-down {
    margin: 5px;
    font-size: 22px;
    line-height: 30px;
}

.dropdown i:hover {
    color: #156ab3;
    cursor: pointer;
}

.dropdown .options {
    position: absolute;
    border: 1px solid rgb(213, 213, 123);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0 2px 3px 0;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: rgb(255, 253, 250);
}

.dropdown .options .option {
    font-size: 14px;
    padding: 5px;
    margin: 5px;
    border-radius: 2px;
}
.dropdown .options .option span {
    font-size: 16px;
}

.dropdown .options .option i {
    font-size: 18px;
    margin-right: 10px;
    text-shadow: rgb(255, 255, 255) 0 0 3px;
}


.dropdown .options .option:hover {
    background-image: linear-gradient(to bottom,rgb(27, 135, 227) 2%, rgb(22, 110, 213) 98%);
    color: rgb(236, 242, 248);
    cursor: pointer;
}

i.button {
    border: 1px solid rgb(213, 213, 213);
    border-radius: 40px;
    background: rgb(255, 255, 255);
    box-shadow: rgba(0, 0, 0, 0.0470588) 0 2px 3px 0;
    padding: 5px;
    text-align: center;
    width: 20px;
    height: 20px;
    margin: 10px;
}

.tab {
    display: flex;
    flex-flow: column nowrap;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 2px;
    margin-bottom: 10px;
}

.tab .head {
    padding: 5px;
    color: #414B56;
    background: rgb(255, 255, 255);
    font-weight: bold;
}

.tab .inner {
    display: flex;
    flex-flow: row nowrap;
}

.menu {
    display: flex;
    flex-flow: column nowrap;
    flex-grow: 1;
}

.menu .options {
    display: flex;
    flex-flow: row nowrap;
    flex-grow: 1;
    background: rgb(255, 255, 255);
}

.menu .options .option {
    display: flex;
    background: none;
    border: none;
    color: #414B56;
    padding: 5px 10px;
}

.menu .options .option:hover {
    cursor: pointer;
}

.menu .options .selected {
    color: rgb(255, 255, 255);
    background: #414B56;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.menu .options .selected:hover {
    cursor: default
}

.menu .active-option {
    margin-top: 5px;
    padding: 10px;
}

.form {
    display: flex;
    flex-flow: column nowrap;
}

.form label, .form input, .form textarea, .form select {
    display: flex;
    flex-grow: 1;
    margin-bottom: 10px;
    border-radius: 2px;
    border: none;
}

.form input, .form select {
    height: 30px;
    padding: 2px 6px;
}

.form textarea {
    padding: 2px 6px;
    resize: vertical;
}

.form label {
    margin-bottom: 5px;
}

.form button {
    margin-top: 5px;
    width: 110px;
}

.list .item {
    padding: 5px 10px;
    background: rgb(255, 255, 255);
    border: 1px solid rgb(255, 255, 255);
    color: #414B56;
}

.list .item:first-of-type {
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}

.list .item:last-of-type {
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
}

.list .item:hover {
    background: #414B56;
    color: rgb(255, 255, 255);
    cursor: pointer;
}

.list .item.selected {
    font-weight: bold;
    background-image: linear-gradient(to bottom,rgb(27, 135, 227) 2%, rgb(22, 110, 213) 98%);
    color: rgb(255, 255, 255);
}

.list .item.selected:hover {
    cursor: default;
}

.options .option:hover {
    color: rgb(27, 135, 227);
}

.options .option.selected:hover {
    color: rgb(255, 255, 255);
}